# General Project related
.DS_Store
target/
temp/
/deploy/*
/debug/
**/dep-dir.txt
*.prefs
build.properties
/sfdx-source/apex-mocks/main/default

# MavensMate IDE related
*mm.log
*.sublime-build
*.sublime-project
*.sublime-settings
*.sublime-workspace
.sublime-project
.tm_properties

# Eclipse IDE Related
.project
.settings/
salesforce.schema
Referenced Packages/

# VS Code IDE Related
.vscode/
.history/

# Illuminated Cloud Related
.idea/
IlluminatedCloud

# SFDX Related
.sfdx/
.sf/
sfdx-config.json
sfdx-source/untracked/
.execanon

# NPM Related
/node_modules
package-lock.json

# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json

# IntelliJ with Illuminated Cloud
*.iml
.idea/
IlluminatedCloud/
Referenced\ Packages/*
out/

# PMD
pmd-report.csv
*pmd-report.xlsx

# Draw.io
*.drawio.bkp
*.drawio.dtmp

# Cumulus CI
.cci/
src/
robot/*/results
log.html
output.xml
report.html
test_results.json
test_results.xml
/docs/scanner/scan-report.csv
/logs.csv
